{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<style>
  .block-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
  }
  .block {
    box-shadow: 5px 5px 5px rgb(93, 93, 93);
    border-radius: 30px;
    background: #fff;
    width:300px;
  }
  
  .block-body {
    background: #fff;
    padding: 0.5rem;
  }
  
  .block-footer {
    background: #171717;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }
  
  .block-header {
    border-radius: 30px !important;
    border: 0px;
    background: #fff;
  }
  
  .block-header img {
    border-radius: 30px;
  
  }

  .block-text{
    font-size: 1rem;
  }
 .row{
  display: inline-block;
 }
</style>
{% for message in messages %}
<div class="container-fluid p-0 m-0">
  <div class="alert {{ message.tags }} alert-dismissible m-0 text-center" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
   Hey <b> {{username}} </b>! {{ message }}
  </div>
</div>
{% endfor %}
<h3>Basic Templates</h3>
<div class="block-container">
 

<a target="_blank" href="{% url 'cards:view' id 1  %}">
  <div class="container">
    <div class="row">
      <div class="block text-center ">
        <div class="block-header p-0">
          
        </div>
        <div class="block-body">
          <h5 class="block-title">Template 1</h5>
          <img width="250px" height="150px" src="{% static 'cards/images/view1.png' %} " alt="">
          {% comment %} <p class="block-text">Your data will be populated on this template</p> {% endcomment %}
  
        </div>
        <div class="block-footer text-muted">
          Try it
        </div>
      </div>
  
    </div>
  </div>
  </a>
  <a target="_blank" href="{% url 'cards:view' id 2  %}">
    <div class="container">
      <div class="row">
        <div class="block text-center ">
          <div class="block-header p-0">
            
          </div>
          <div class="block-body">
            <h5 class="block-title">Template 2</h5>
            <img width="250px" height="150px" src="{% static 'cards/images/view2.png' %} " alt="">
            {% comment %} <p class="block-text">Your data will be populated on this template</p> {% endcomment %}
    
          </div>
          <div class="block-footer text-muted">
            Try it
          </div>
        </div>
    
      </div>
    </div>
    </a>
</div>
<h3>Premium Templates</h3>
<div class="block-container"> 
 

<a target="_blank" href="{% url 'cards:view' id 3  %}">
  <div class="container">
    <div class="row">
      <div class="block text-center ">
        <div class="block-header p-0">
          
        </div>
        <div class="block-body">
          <h5 class="block-title">Template 1</h5>
          <img width="250px"  height="150px" src="{% static 'cards/images/view3.png' %} " alt="">
          {% comment %} <p class="block-text">Your data will be populated on this template</p> {% endcomment %}
  
        </div>
        <div class="block-footer text-muted">
          Try it
        </div>
      </div>
  
    </div>
  </div>
  </a>
  <a target="_blank" href="{% url 'cards:view' id 4  %}">
    <div class="container">
      <div class="row">
        <div class="block text-center ">
          <div class="block-header p-0">
            
          </div>
          <div class="block-body">
            <h5 class="block-title">Template 2</h5>
            <img width="250px"  height="150px" src="{% static 'cards/images/view4.png' %} " alt="">
            {% comment %} <p class="block-text">Your data will be populated on this template</p> {% endcomment %}
    
          </div>
          <div class="block-footer text-muted">
            Try it
          </div>
        </div>
    
      </div>
    </div>
    </a>
</div>
</body>
{% endblock %}