{%extends 'home/base.html'%}

{%block content%}
<div class="center" style="padding:2rem;">
	<style>
		input{
			border: 2px solid #ccc;
		}
	</style>
	<form method="post" class="card" style="padding:2rem">
		{% csrf_token %}
	    <h2 class="text-center">Reset Password</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<div class="form-buttons mt-5">
			<input type="submit" value="Send" class="btn btn-primary">
			<a href="{%url 'user:signin' %}"  class="btn btn-outline">Cancel</a>
		</div>
	</form>
	</div>
{%endblock content%}